---
import Button from "./button.astro";

interface Props {
  title: string;
  description: string;
  technologies: Array<{
    icon?: string;
    useItalic?: boolean;
  }>;
  imageUrl: string;
  codeUrl?: string;
  demoUrl?: string;
}

const { title, description, technologies, imageUrl, codeUrl, demoUrl } =
  Astro.props;
---

<div
  class="bg-[--line] rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300"
>
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/3">
      <img src={imageUrl} alt={title} class="w-full h-full object-cover" />
    </div>
    <div class="w-full md:w-2/3 p-6">
      <h4 class="text-[--white] text-3xl font-semibold mb-2">{title}</h4>
      <p class="text-[--white-icon] mb-4">{description}</p>
      <div class="flex flex-wrap gap-4 mb-4">
        {
          technologies.map((tech) => (
            <span
              class="flex items-center gap-1 text-[--white-icon]"
              set:html={tech.icon ? tech.icon : ""}
            />
          ))
        }
      </div>
      <div class="flex flex-col gap-4 md:flex-row mt-4">
        {
          codeUrl && (
            <Button href={codeUrl}>
              <i class="ri-code-s-slash-line text-[--white-icon] text-xl mr-2" />
              View Code
            </Button>
          )
        }
        {
          demoUrl && (
            <Button href={demoUrl}>
              <i class="ri-window-2-line text-[--white-icon] text-xl mr-2" />
              Live Demo
            </Button>
          )
        }
      </div>
    </div>
  </div>
</div>
